<div class="container m-0 bg-white mw-100 vh-100">
  <div class="text-center text-info mt-3">
    <h2>Danh sách giao dịch với khách hàng </h2>
  </div>
  <div class="mt-5 ">
    <form (ngSubmit)="search()" [formGroup]="searchForm">
      <div class=" d-inline-flex float-right align-items-center col-md-5 mb-4">
        <input class="form-control mr-3" type="text" placeholder="Mã vắc-xin" formControlName="vaccineId">
        <input class="form-control mr-3" type="text" placeholder=" Tên khách hàng" formControlName="accountName">
        <input class="btn btn-outline-info ml-3" type="submit" value="Lọc" />
      </div>
    </form>
    <table class="table table-striped table-lg">
      <thead class="bg-info text-white">
        <tr>
          <th class="text-center ">Mã giao dịch<br>khách hàng</th>
          <th class="text-center align-middle">Mã vắc-xin</th>
          <th class="text-center align-middle">Loại vắc-xin</th>
          <th class="text-center align-middle">Số lượng<br>vắc-xin(ml)</th>
          <th class="text-center align-middle">Mã khách hàng</th>
          <th class="text-center align-middle">Tên khách hàng</th>
          <th class="text-center align-middle">Ngày giao dịch</th>
          <th class="text-center align-middle">Giá<br>(VNĐ/ml)</th>
          <th class="text-center align-middle">Thành tiền<br>(VNĐ)</th>
          <th class="pl-4 text-center align-middle">Sửa</th>
          <th class="text-center align-middle">Xóa</th>
        </tr>
      </thead>
      <tbody class="text-center">
        <tr
          *ngFor="let transaction of transactionList | paginate: { itemsPerPage: pageSize, currentPage: currentPage, totalItems: totalElements}; index as i">
          <td>MGD-{{transaction.id}}</td>
          <td>MVX-{{transaction.vaccine.id}}</td>
          <td>{{transaction.vaccine.category}}</td>
          <td>{{transaction.amount}}</td>
          <td>{{transaction.account.id}}</td>
          <td>{{transaction.account.fullName}}</td>
          <td>{{transaction.transactionDate | date: 'dd/MM/yyyy'}}</td>
          <td>{{transaction.vaccine.price | number}} đ</td>
          <td>{{transaction.vaccine.price * transaction.amount | number}} đ</td>
          <td>
            <em class="btn btn-link fas fa-edit text-warning fa-lg" (click)="edit(i)"></em>
          </td>
          <td class="d-flex ">
            <em type="button" class="btn btn-link text-danger fas fa-trash-alt fa-lg" (click)="del(i)"></em>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="mt-4 mb-4">
      <div class="pagination float-right">
        <pagination-controls (pageChange)="getPage($event)"></pagination-controls>
      </div>
    </div>
  </div>
</div>
