<div class="container mt-3">
  <div class="row">
    <div class="col">
      <h2>Lịch sử tiêm chủng</h2>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col">
      <table class="table table-striped mt-2 text-center">
        <thead class="bg-info text-white">
        <tr>
          <th scope="col">Họ và tên bệnh nhân</th>
          <th scope="col">Ngày tháng năm sinh</th>
          <th scope="col">Giới tính</th>
          <th scope="col" style="vertical-align: middle">Địa chỉ</th>
          <th scope="col" style="vertical-align: middle">Tên vắc xin</th>
          <th scope="col">Loại vắc xin</th>
          <th scope="col" style="vertical-align: middle">Ngày tiêm</th>
          <th scope="col">Tình trạng sau khi tiêm</th>
          <th scope="col">Phản hồi sau khi tiêm</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let injectionHistory of myInjectionHistory  | async | paginate: { itemsPerPage: pageSize, currentPage: currentPage, totalItems: totalElements}">
          <td>{{injectionHistory.patient.fullName}}</td>
          <td>{{injectionHistory.patient.birthday | date:'dd-MM-yyyy'}}</td>
          <td>{{injectionHistory.patient.gender}}</td>
          <td>{{injectionHistory.patient.address}}</td>
          <td>{{injectionHistory.vaccine.name}}</td>
          <td>{{injectionHistory.vaccine.category}}</td>
          <td>{{injectionHistory.injectionDate | date: 'dd-MM-yyyy'}}</td>
          <td>{{injectionHistory.reponseContent}}</td>
          <td><button class="btn btn-warning" data-toggle="modal" data-target="#staticBackdrop">Phản hồi</button></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="row mt-2">
        <div class="col-md">
          <button (click)="back()" class="btn btn-success">Quay lại</button>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="d-flex justify-content-end mt-2">
        <div class="col mt-2">
          <div class="d-flex justify-content-end">
            <div class=" d-flex justify-content-end">
              <pagination-controls (pageChange)="getPage($event)"></pagination-controls>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>