<div class="content">
    <div class="main-content">
        <div class="container-fluid">
            <h2><strong>Thêm mới giao dịch</strong></h2>
            <hr>

            <div class="row">
                <div class="col-md-12">
                    <form id="form-create" style="padding-left: 50px; padding-right: 50px">
                        <fieldset>
                            <div style="margin: 20px 40px 20px 40px;">

                                <!--form-row-->
                                <div class="form-row">
                                    <div class="form-group col-md">
                                        <label for="discount">Mã giao dịch *</label>
                                        <input type="text" class="form-control form-control-sm">

                                    </div>
                                    <div class="form-group col-md">
                                        <label for="discount">Mã hóa đơn *</label>
                                        <input type="text" class="form-control form-control-sm">

                                    </div>
                                </div>
                                <!--form-row-->

                                <div class="form-row" formGroupName="place">
                                    <div class="form-group col-md">
                                        <label>Vắc xin</label>
                                        <div class="input-group input-group-sm">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text" id="departurePlace">Mã vắc xin
                                                    *</span>
                                            </div>
                                            <input type="text" class="form-control form-control-sm">
                                        </div>
                                    </div>
                                    <div class="form-group col-md">
                                        <label for="arrivalPlace">&nbsp;</label>
                                        <div class="input-group input-group-sm">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text" id="arrivalPlace">Loại vắc xin
                                                    *</span>
                                            </div>
                                            <input type="text" class="form-control form-control-sm">
                                        </div>

                                    </div>

                                    <div class="form-group col-md">
                                        <label for="arrivalPlace">&nbsp;</label>
                                        <div class="input-group input-group-sm">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text" id="arrivalPlace">Số lượng (Lô)
                                                    *</span>
                                            </div>
                                            <input type="number" class="form-control form-control-sm">
                                        </div>

                                    </div>
                                </div>
                                <!--form-row-->
                                <div class="form-row">
                                    <div class="form-group col-md">
                                        <label for="namePromo">Tên nhà cung cấp *</label>
                                        <input type="text" class="form-control form-control-sm">
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md">
                                        <label for="namePromo">Ngày giao dịch *</label>
                                        <input type="date" class="form-control form-control-sm">
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md">
                                        <label for="namePromo">Giá (VNĐ)*</label>
                                        <input type="text" class="form-control form-control-sm">
                                    </div>
                                </div>
                                <!--form-group-->
                                <hr>

                                <button type="submit" class="btn btn-outline-success"> <a href="vaccine.html"
                                        style="text-decoration: none">Xác nhận</a></button>
                                <button type="button" class="btn btn-outline-primary ">
                                    <a href="vaccine.html" style="text-decoration: none">Hủy</a></button>
                            </div>
                </fieldset>
                </form>
            </div>
        </div>
        <!--row-->
        <hr>
    </div>
</div>