<div class="content">
    <div class="row">
        <div class="col-md-9 ">
            <h2><strong>Quản lý giao dịch</strong>&nbsp;&nbsp;&nbsp;</h2>
        </div>
        <div class="col-md-3">
            <div class="float-right">
                <a [routerLink]="['create']" class="btn btn-sm btn-success"><i class="fas fa-plus-circle"></i> Thêm
                    mới</a>
            </div>
        </div>
    </div>
    <hr>
    <form class="px-0" style="width: 100%;" [formGroup]="createForm" (ngSubmit)="search()">
        <div class="row mt-3">
            <div class="form-group col-md-4">
                <label class="col-form-label mr-2">Mã giao dịch</label>
                <input class="form-control" type="text" placeholder="VD: GDC-0000" formControlName="tradingCode">
            </div>
            <div class="form-group col-md-4">
                <label class="col-form-label mr-2">Mã vắc xin</label>
                <input class="form-control" type="text" placeholder="VD: MVX-0000" formControlName="vaccineCode">
            </div>
            <div class="form-group col-md-4">
                <label class="col-form-label mr-2">Mã hóa đơn</label>
                <input class="form-control" type="text" placeholder="VD: MHD-0000" formControlName="billCode">
            </div>

        </div>
        <div class="row">
            <div class="form-group col-md-4">
                <label class="col-form-label mr-2">Loại vắc xin</label>
                <input class="form-control" type="text" placeholder="VD: ENGERIX B" formControlName="vaccineType">
            </div>
            <div class="form-group col-md-4">
                <label class="col-form-label mr-2">Nhà cung cấp</label>
                <input class="form-control" type="text" placeholder="VD: Công ty TNHH ..." formControlName="supplier">
            </div>
            <div class="col-md-4 form-group" style="margin-top: -2px;">
                <label>&nbsp;</label><br>
                <button type="submit" class="btn btn-primary mt-2" style="width: 400px"><i class="fas fa-search"></i>
                    Lọc
                    kết quả
                </button>
            </div>
        </div>
    </form>
    <hr>
    <div class="row mr-5" style="margin-left: 3rem;">
        <table class="table table-hover border-2">

            <thead class="table" style="background-color: rgb(124, 248, 217); text-align: center;">
                <td> STT </td>
                <td> Mã giao dịch nhà cung cấp </td>
                <td> Mã vắc xin </td>
                <td> Loại vắc xin </td>
                <td> Số lượng </td>
                <td> Mã hóa đơn </td>
                <td> Nhà cung cấp </td>
                <td> Ngày giao dịch </td>
                <td> Giá (VNĐ/ml) </td>
                <td> Thành tiền </td>
                <td></td>
                <td></td>
            </thead>
            <tr
                *ngFor="let trans of transactionList$ | async | paginate : {itemsPerPage: pageSize , currentPage: currentPage, totalItems: totalElements}; index as i">
                <th scope="row">{{stt[i]}}</th>
                <td>{{trans.tradingCode}}</td>
                <td>{{trans.vaccineCode}}</td>
                <td>{{trans.vaccineType}}</td>
                <td>{{trans.amount}}</td>
                <td>{{trans.billCode}}</td>
                <td>{{trans.supplier}}</td>
                <td>{{trans.tradingDate}}</td>
                <td>{{trans.price}}</td>
                <td>{{trans.total}}</td>
                <td>
                    <button class="btn btn-outline-primary" type="button"  [routerLink]="['edit/' + trans.id]"><i class="far fa-edit"></i> Sửa
                    </button>
                </td>
                <td>
                    <button class="btn btn-outline-danger" type="button" data-toggle="modal"
                    [attr.data-target]="'#delete'+ trans.id" (click)="selectDeletedTrans(trans)"><i class="fas fa-trash-alt"></i> Xóa
                    </button>
                </td>
                <div class="modal fade" [id]="'delete'+ trans.id" tabindex="-1" role="dialog" ari
                    a-labelledby="exampleModalLongTitle" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title text-danger" id="exampleModalLongTitle">Thông báo</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="alert alert-danger"><i class="fas fa-exclamation-triangle"></i>
                                    Bạn chắc
                                    chắn
                                    muốn
                                    xóa giao dịch này?</div>
                                Mã giao dịch nhà cung cấp: {{trans.tradingCode}} <br>
                                Mã vắc xin: {{trans.vaccineCode}} <br>
                                Loại vắc xin: {{trans.vaccineType}} <br>
                                Số lượng: {{trans.amout}} <br>
                                Mã hóa đơn: {{trans.billCode}} <br>
                                Nhà cung cấp: {{trans.supplier}} <br>
                                Ngày giao dịch: {{trans.tradingDate}} <br>
                                Giá: {{trans.price}} <br>
                                Thành tiền: {{trans.total}}
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-primary" data-toggle="modal"
                                    data-target="#alertSuccess" data-dismiss="modal"
                                    (click)="deleteTrans(trans.id)">Có</button>
                                <button type="button" class="btn btn-danger" data-dismiss="modal">Không</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- modal delete success -->
                <div class="modal fade" id="alertSuccess" tabindex="-1" role="dialog"
                    aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title text-danger" id="exampleModalLongTitle">Thông Báo</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <!-- <div *ngIf="message!=''"
                                                                         class="alert alert-success p-2"
                                                                         role="alert"><i
                                                                             class="fas fa-clipboard-check"></i>
                                                                         {{message}}
                                                                     </div>
                                                                     <div *ngIf="errorMessage!=''"
                                                                         class="alert alert-danger p-2" role="alert">
                                                                         <i class="fas fa-clipboard-check"></i>
                                                                         {{errorMessage}}
                                                                     </div> -->
                                <div class="alert alert-success p-2">
                                    <i class="fas fa-clipboard-check"></i> Xóa thành công
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal"
                                    (click)="reloadPage()">Đóng</button>
                            </div>
                        </div>
                    </div>
                </div>
            </tr>

        </table>
        <div class="pageNow"></div>
        <div class="page">
            <div class="mt-3 d-flex justify-content-end">
                <pagination-controls (pageChange)="reloadData($event)"></pagination-controls>
            </div>

        </div>
    </div>
</div>