<div class="row d-flex justify-content-center">
    <h3 class="modal-title">THÔNG TIN VẮC XIN CẦN XUẤT KHO</h3>
</div>
<hr>
<form id="form1">
    <div class="row">
        <div class="col-lg-6">
            <div class="row">
                <label  class="col-sm-5 pr-0 col-form-label">Tên vắc xin :</label>
                <div class="col-sm-7">
                    <input type="text" name="code" class="form-control"  placeholder="">
                </div>
            </div>
        </div>
        <div class="col-lg-6 ">
            <div class="row ml-2 ">
                <label  class="col-sm-5 pr-0 col-form-label">Hàm lượng :</label>
                <div class="col-sm-7">
                    <input type="number" name="address" class="form-control" placeholder="">
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <div class="row mt-4">
                <label  class="col-sm-5 pr-0 col-form-label">Loại vắc xin :</label>
                <div class="col-sm-7">
                    <input type="text" name="name" class="form-control" placeholder="">
                </div>
            </div>
        </div>
        <div class="col-lg-6 ">
            <div class="row ml-2 mt-4">
                <label  class="col-sm-5 pr-0 col-form-label">Số lượng :</label>
                <div class="col-sm-7">
                    <input type="number" name="phone" class="form-control" placeholder="">
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <div class="row mt-4">
                <label  class="col-sm-5 pr-0 col-form-label">Ngày nhập :</label>
                <div class="col-sm-7">
                    <input type="date" name="date" class="form-control" >
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="row ml-2 mt-4">
                <label class="col-sm-5 pr-0 col-form-label">Hạn sử dụng :</label>
                <div class="col-sm-7">
                    <input type="date" name="hsd" class="form-control">
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <div class="row mt-4">
                <label  class="col-sm-5 pr-0 col-form-label">Số giấy phép :</label>
                <div class="col-sm-7">
                    <input type="text" name="cmnd" class="form-control">
                </div>
            </div>
        </div>
        <div class="col-lg-6 ">
            <div class="row ml-2 mt-4">
                <label  class="col-sm-5 pr-0 col-form-label">Bảo quản :</label>
                <div class="col-sm-7">
                    <input type="text" name="cmnd" class="form-control">
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <div class="row mt-4">
                <label  class="col-sm-5 pr-0 col-form-label">Nước sản xuất :</label>
                <div class="col-sm-7">
                    <input type="text" name="cmnd" class="form-control">
                </div>
            </div>
        </div>
        <div class="col-lg-6 ">
            <div class="row ml-2 mt-4">
                <label class="col-sm-5 pr-0 col-form-label">Độ tuổi :</label>
                <div class="col-sm-7">
                    <input type="text" name="cmnd" class="form-control">
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <div class="row mt-4">
                <label  class="col-sm-5 pr-0 col-form-label">Đơn giá :</label>
                <div class="col-sm-7">
                    <input type="text" name="cmnd" class="form-control">
                </div>
            </div>
        </div>
    </div>
    
</form>
<hr>
<div class="row d-flex justify-content-center mb-3">           
    <button type="submit" class="btn btn-info mr-3 pr-3 pl-3" data-dismiss="modal">Nhập kho</button>
    <button type="button" class="btn btn-danger pr-3 pl-3" data-dismiss="modal">Hủy</button>
</div>