.col-form-label{
    font-weight: bold;
    text-align: left;
}
td,th {
    vertical-align: middle !important ;
}

.form-check, label {
    color: black;
}

.mark-success {
    /* background-image: url(https://cdn.chilindo.com/gfx/checkmark-green.png); */
    background-image: url('../../../assets/img/checkmark-green.png');
    background-position: right center ;
    background-repeat: no-repeat ;
  }