<div class="col-md-10">
  <div class="row inbox-wrapper">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-lg-9 email-content">
              <div class="email-head">
                <div class="email-head-subject">
                  <div class="title d-flex align-items-center justify-content-between">
                    <div class="d-flex align-items-center">
                      <a class="active" href="#"><span class="icon"><svg xmlns="http://www.w3.org/2000/svg" width="24"
                                                                         height="24" viewBox="0 0 24 24" fill="none"
                                                                         stroke="currentColor" stroke-width="2"
                                                                         stroke-linecap="round" stroke-linejoin="round"
                                                                         class="feather feather-star text-primary-muted"><polygon
                        points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2"></polygon></svg></span></a>
                      <span>{{contact.subject}}</span>
                    </div>
                    <div class="icons">
                      <a href="#" class="icon">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                             stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                             class="feather feather-share text-muted hover-primary-muted" data-toggle="tooltip" title=""
                             data-original-title="Forward">
                          <path d="M4 12v8a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2v-8"></path>
                          <polyline points="16 6 12 2 8 6"></polyline>
                          <line x1="12" y1="2" x2="12" y2="15"></line>
                        </svg>
                      </a>
                      <a href="#" class="icon">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                             stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                             class="feather feather-printer text-muted" data-toggle="tooltip" title=""
                             data-original-title="Print">
                          <polyline points="6 9 6 2 18 2 18 9"></polyline>
                          <path d="M6 18H4a2 2 0 0 1-2-2v-5a2 2 0 0 1 2-2h16a2 2 0 0 1 2 2v5a2 2 0 0 1-2 2h-2"></path>
                          <rect x="6" y="14" width="12" height="8"></rect>
                        </svg>
                      </a>
                      <a href="#" class="icon">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                             stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                             class="feather feather-trash text-muted" data-toggle="tooltip" title=""
                             data-original-title="Delete">
                          <polyline points="3 6 5 6 21 6"></polyline>
                          <path
                            d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"></path>
                        </svg>
                      </a>
                    </div>
                  </div>
                </div>
                <div class="email-head-sender d-flex align-items-center justify-content-between flex-wrap">
                  <div class="d-flex align-items-center">
                    <div class="avatar">
                      <img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="Avatar"
                           class="rounded-circle user-avatar-md">
                    </div>
                    <div class="sender d-flex align-items-center">
                      <a href="#">{{contact.fullName}}</a><a href="#"></a>
                      <div class="actions dropdown">
                        <a class="icon" href="#" data-toggle="dropdown">
                          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                               stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                               class="feather feather-chevron-down">
                            <polyline points="6 9 12 15 18 9"></polyline>
                          </svg>
                        </a>
                        <div class="dropdown-menu" role="menu">
                          <a class="dropdown-item" href="#">Mark as read</a>
                          <a class="dropdown-item" href="#">Mark as unread</a>
                          <a class="dropdown-item" href="#">Spam</a>
                          <div class="dropdown-divider"></div>
                          <a class="dropdown-item text-danger" href="#">Delete</a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="date">{{contact.receivingTime|date:'medium'}}</div>
                </div>
              </div>
              <div class="email-body" >

                <ul class="list-unstyled media-block ">
                  <li class="mar-btm" >
                    <div class="media-left">
                      <img src="https://bootdey.com/img/Content/avatar/avatar1.png" class="img-circle img-sm" alt="Profile Picture">
                    </div>
                    <div class="media-body pad-hor">
                      <div class="speech">
                        <a href="#" class="media-heading">{{contact.fullName}}</a>
                        <p>{{contact.text}}</p>
                        <p class="speech-time">
                          <i class="fa fa-clock-o fa-fw"></i>{{contact.receivingTime|date:'medium'  }}
                        </p>
                      </div>
                    </div>
                  </li>
                  <li class=" mar-btm" *ngFor="let contactReply of contact.contactReply">

                    <div class="media-right">
                      <img src="https://bootdey.com/img/Content/avatar/avatar2.png" class="img-circle img-sm" alt="Profile Picture">
                    </div>
                    <div class="media-body pad-hor speech-right">
                      <div class="speech">
                        <a href="#" class="media-heading">{{contactReply.account.fullName}}</a>
                        <p>{{contactReply.replyText}}</p>
                        <p class="speech-time">
                          <i class="fa fa-clock-o fa-fw"></i>{{contactReply.replyTime|date:'medium'}}
                        </p>
                      </div>
                    </div>
                  </li>

                </ul>

              </div>
              <div class="media mt-3">
                <a  class="media-left">
                  <img alt="" src="https://bootdey.com/img/Content/avatar/avatar2.png" width="50" height="50">
                </a>
                <div class="media-body">
                  <textarea class="wysihtml5 form-control"  rows="5" placeholder="Trả lời tại đây..." [(ngModel)]="textReply"></textarea>
                </div>
              </div>
              <div class="text-right">
                <button type="button" (click)="SendReply()" class="btn btn-primary waves-effect waves-light mt-3"><i class="fa fa-send mr-1"></i> Gửi</button>
              </div>

            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
<script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="http://netdna.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<script type="text/javascript">

</script>

