<div class="container m-0 mw-100 vh-100">
    <div class="text-center mt-4 mb-5">
        <h2>Danh sách bệnh nhân đã đăng ký tiêm chuẩn theo định kỳ của trung tâm </h2>
    </div>
    <div class="mt-5 ">
        <form (ngSubmit)="search()" [formGroup]="searchForm">
            <div class=" d-flex justify-content-end col-sm-7 mb-4 pr-0 float-right">
                <input class="form-control mr-3" type="text" placeholder="Họ và tên" formControlName="fullName">
                <select class="form-control" style="height: 36px;" formControlName="injected">
                    <option [selected]=true disabled>Tình trạng</option>
                    <option value="Chưa tiêm">Chưa tiêm</option>
                    <option value="Đã tiêm">Đã tiêm</option>
                </select>
                <button class="btn btn-outline-success ml-3">Tìm kiếm</button>
            </div>

        </form>
        <table class="table table-striped table-lg">
            <thead class="bg-info text-white ">
                <tr>
                    <th class="pb-3">Mã bệnh nhân</th>
                    <th class="pb-3">Họ và tên</th>
                    <th class="pb-3">Ngày sinh</th>
                    <th class="pb-3">Giới tính</th>
                    <th class="pb-3">Người giám hộ</th>
                    <th class="pb-3">Số điện thoại</th>
                    <th class="pb-3">Địa chỉ</th>
                    <th class="pb-3">Tình trạng</th>
                    <th class="pb-3">Ngày tiêm</th>
                </tr>
            </thead>
            <tbody>
                <tr
                    *ngFor="let injection of injectionList| paginate: { itemsPerPage: pageSize, currentPage: currentPage, totalItems: totalElements} ">
                    <td>{{injection.patient.code}}</td>
                    <td>{{injection.patient.fullName}}</td>
                    <td>{{injection.patient.birthday}}</td>
                    <td>{{injection.patient.gender}}</td>
                    <td>{{injection.patient.parentName}}</td>
                    <td>{{injection.patient.phoneNumber}}</td>
                    <td>{{injection.patient.address}}</td>
                    <td>{{injection.isInjected}}</td>
                    <td>{{injection.injectionDate|date:"dd/MM/yyy"}}</td>

                </tr>

            </tbody>
        </table>
        <div class="mt-4 mb-4">
            <div class="pagination float-right">
                <pagination-controls (pageChange)="getPage($event)"></pagination-controls>
            </div>
        </div>
    </div>
</div>