.row1{
    width: 50%;
    margin-left: 0%;
}
.row2{
    width: 50%;
}
.pay1{
    width: 50%;
    margin: 0%;
}
.pay2{
    width: 50%;
}
.pay3{
    width: 100%;
}
.content {
    width: 94%;
    margin: 4em auto;
    font-size: 20px;
    line-height: 30px;
    text-align: justify;
}
.col{
    height: 32px;
}
.pay2 input{
    border: 0px;
    background-color: rgba(0, 0, 0, 0);
}