<div class="container vh-100">

    <div class="d-flex justify-content-center mt-4">
        <h3 class="modal-title " id="exampleModalLabel">Tạo mới nhân viên</h3>
    </div>
    <div class="modal-body">
        <form class=" text-center p-0 ml-3 mr-3 mt-4" id="form" (ngSubmit)="onSubmit()" [formGroup]="employeeForm">
            <div class="row">
                <div class="col-lg-6">
                    <div class="row">
                        <label class="col-sm-4 pr-0 col-form-label">Mã nhân viên</label>
                        <div class="col-sm-8">
                            <input type="text" name="code" class="form-control" placeholder="Mã nhân viên"
                                formControlName="code">
                            <div *ngIf="employeeForm.get('code').touched &&
                                employeeForm.get('code').dirty">
                                <ng-container *ngFor="let error of errors.code">
                                    <small *ngIf="employeeForm.get('code').hasError(error.code)"
                                        class="d-block text-danger float-left mt-1" role="alert">{{error.message}}
                                    </small>
                                </ng-container>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 ">
                    <div class="row ml-2 ">
                        <label class="col-sm-4 pr-0 col-form-label">Địa chỉ</label>
                        <div class="col-sm-8">
                            <input type="text" name="address" class="form-control" placeholder="Địa chỉ"
                                formControlName="address">
                            <div *ngIf="employeeForm.get('address').touched &&
                                employeeForm.get('address').dirty">
                                <ng-container *ngFor="let error of errors.address">
                                    <small *ngIf="employeeForm.get('address').hasError(error.code)"
                                        class="d-block text-danger float-left mt-1" role="alert">{{error.message}}
                                    </small>
                                </ng-container>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="row mt-4">
                        <label class="col-sm-4 pr-0 col-form-label">Họ và tên</label>
                        <div class="col-sm-8">
                            <input type="text" name="name" class="form-control" placeholder="Họ và tên"
                                formControlName="fullName">
                            <div *ngIf="employeeForm.get('fullName').touched &&
                                employeeForm.get('fullName').dirty">
                                <ng-container *ngFor="let error of errors.fullName">
                                    <small *ngIf="employeeForm.get('fullName').hasError(error.code)"
                                        class="d-block text-danger float-left mt-1" role="alert">{{error.message}}
                                    </small>
                                </ng-container>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 ">
                    <div class="row ml-2 mt-4">
                        <label class="col-sm-4 pr-0 col-form-label">Số điện thoại</label>
                        <div class="col-sm-8">
                            <input type="text" name="phone" class="form-control" placeholder="Số điện thoại"
                                formControlName="phoneNumber">
                            <div *ngIf="employeeForm.get('phoneNumber').touched &&
                                employeeForm.get('phoneNumber').dirty">
                                <ng-container *ngFor="let error of errors.phoneNumber">
                                    <small *ngIf="employeeForm.get('phoneNumber').hasError(error.code)"
                                        class="d-block text-danger float-left mt-1" role="alert">{{error.message}}
                                    </small>
                                </ng-container>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-6">
                    <div class="row mt-4">
                        <label class="col-sm-4 pr-0 col-form-label">Ngày sinh</label>
                        <div class="col-sm-8">
                            <input type="date" name="date" class="form-control" formControlName="birthday">
                            <div *ngIf="employeeForm.get('birthday').touched &&
                            employeeForm.get('birthday').dirty">
                                <ng-container *ngFor="let error of errors.birthday">
                                    <small *ngIf="employeeForm.get('birthday').hasError(error.code)"
                                        class="d-block text-danger float-left mt-1" role="alert">{{error.message}}
                                    </small>
                                </ng-container>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 ">
                    <div class="row ml-2 mt-4">
                        <label class="col-sm-4 pr-0 col-form-label">Chức vụ</label>
                        <div class="col-sm-8">
                            <select class="form-control" name="cv" formControlName="position">
                                <option [selected]=true disabled>Chọn chức vụ</option>
                                <option value="Trưởng phòng">Trưởng phòng</option>
                                <option value="Thủ kho">Thủ kho</option>
                                <option value="Bác sĩ">Bác sĩ</option>
                                <option value="Điều dưỡng">Điều dưỡng</option>
                                <option value="Thu ngân">Thu ngân</option>
                                <option value="Nhân viên">Nhân viên</option>
                            </select>
                            <div *ngIf="employeeForm.get('position').touched &&
                            employeeForm.get('position').dirty">
                                <ng-container *ngFor="let error of errors.position">
                                    <small *ngIf="employeeForm.get('position').hasError(error.code)"
                                        class="d-block text-danger float-left mt-1" role="alert">{{error.message}}
                                    </small>
                                </ng-container>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="row mt-4">
                        <label class="col-sm-4 pr-0 col-form-label">CMND</label>
                        <div class="col-sm-8">
                            <input type="text" name="cmnd" class="form-control" placeholder="CMND"
                                formControlName="idCard">
                            <div *ngIf="employeeForm.get('idCard').touched &&
                                employeeForm.get('idCard').dirty">
                                <ng-container *ngFor="let error of errors.idCard">
                                    <small *ngIf="employeeForm.get('idCard').hasError(error.code)"
                                        class="d-block text-danger float-left mt-1" role="alert">{{error.message}}
                                    </small>
                                </ng-container>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 ">
                    <div class="row ml-2 mt-4">
                        <label class="col-sm-4 pr-0 col-form-label">Phân quyền</label>
                        <div class="col-sm-8">
                            <select class="form-control" name="role" formControlName="role">
                                <option [selected]=true disabled>Chọn phân quyền</option>
                                <option value="admin">Admin</option>
                                <option value="stoker">Stoker</option>
                                <option value="doctor">Doctor</option>
                                <option value="nurse">Nurse</option>
                                <option value="cashier">Cashier</option>
                            </select>
                            <div *ngIf="employeeForm.get('role').touched &&
                            employeeForm.get('role').dirty">
                                <ng-container *ngFor="let error of errors.role">
                                    <small *ngIf="employeeForm.get('role').hasError(error.code)"
                                        class="d-block text-danger float-left mt-1" role="alert">{{error.message}}
                                    </small>
                                </ng-container>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="d-flex justify-content-center mt-5 mb-3">
                <button type="submit" class="btn btn-primary mr-3 pr-3 pl-3">Lưu</button>
                <button type="button" class="btn btn-danger pr-3 pl-3" mat-dialog-close="cancel">Hủy</button>
            </div>

        </form>

    </div>
</div>