<header>
  <div class="header1">
    <div class="d-flex logo">
      <img src="../../../assets/img/logo.png">
      <br>
      <!-- <div class="time">
        {{'row3.1' | translate}}
      </div> -->
    </div>
    <div class="float-right mr-1 mt-1">
      <a class="text-white" (click)="switchLanguage('en')">
        <img class="language-icon img-responsive mb-1" typeof="foaf:Image"
          src="http://tiemchungmorong.vn/sites/all/modules/languageicons/flags/vi.png" width="18" height="14"
          alt="Tiếng Việt" title="Tiếng Việt"> Tiếng Việt</a>
      <span> | </span>
      <a class="text-white" (click)="switchLanguage('vi')">
        <img class="language-icon img-responsive mb-1" typeof="foaf:Image"
          src="http://tiemchungmorong.vn/sites/all/modules/languageicons/flags/en.png" width="18" height="14"
          alt="English" title="English"> English</a>
    </div>
    <div>
      <div class="title d-flex">
        <div>
          <a href="#">{{'row1.1' | translate}}<span> | </span></a>
        </div>
        <div class="ml-3">
          <a href="#">{{'row1.2' | translate}}<span> | </span></a>
        </div>
        <div class="ml-3">
          <a href="#">{{'row1.3' | translate}}<span> | </span></a>
        </div>
        <div class="ml-2">
          <span class="letter ml-2">Hotline</span>
          <span id="hotLine" class="ml-1">: +84 0900 115</span>
        </div>
      </div>
      <div class="title2 d-flex">
        <!-- <div>
          <img src="https://imagizer.imageshack.com/img923/5140/y2ai9O.jpg">
          <a href="#">
            {{'row2.1' | translate}}
          </a>
        </div> -->
        <div class="ml-3">
          <a href="#">
            <img src="https://imagizer.imageshack.com/img923/4641/P2jT1P.png">
            {{'row2.2' | translate}}
          </a>
        </div>
        <div class="ml-3">
          <a href="#">
            <img src="https://imagizer.imageshack.com/img922/2260/SHTmWh.jpg">
            {{'row2.3' | translate}}
          </a>
        </div>
        <div class="ml-3">
          <a href="#">
            <img src="https://imagizer.imageshack.com/img923/2485/ID5hlR.png">
            {{'row2.4' | translate}}
          </a>
        </div>
      </div>
    </div>
    <div class="title3">
      {{'row3.2' | translate}}
    </div>

  </div>
  <div id="content-wrapper">
    <div class="banner section section" id="banner">
      <div class="widget HTML" data-version="1" id="HTML2">
        <div class="widget-content">
          <marquee>
            {{'row4.1' | translate}}<a id="text1" href="#">C0320G1</a>
            {{'row4.2' | translate}}<a class="letter" id="text2" href="#" target="_blank">
              {{'row4.3' | translate}}</a>
          </marquee>
        </div>
        <div class="clear"></div>
        <div class="clear"></div>
      </div>
    </div>
  </div>

  <div class="header2 d-flex pl-2 pr-2 justify-content-between">
    <div class="d-flex" style="padding-left: 0px;">
      <div class="dropdown">
        <a class="dropbtn" routerLink="/">
          {{'row5.1' | translate}}
        </a>
      </div>
    </div>
    <div class="d-flex ml-5">
      <div class="dropdown">
        <a class="dropbtn"> {{'row5.2' | translate}}</a>
        <div class="dropdown-content">
          <a href="#"> {{'row5.3' | translate}}</a>
          <hr>
          <a href="#"> {{'row5.4' | translate}}</a>
          <hr>
          <a href="#"> {{'row5.5' | translate}}</a>
        </div>
      </div>
    </div>
    <div class="d-flex ml-5">
      <div class="dropdown">
        <a class="dropbtn"> {{'row5.6' | translate}}</a>
        <div class="dropdown-content2">
          <a href="#"> {{'row5.7' | translate}}</a>
          <hr>
          <a href="#"> {{'row5.8' | translate}}</a>
          <hr>
          <a href="#"> {{'row5.9' | translate}}</a>
          <hr>
          <a href="#"> {{'row5.10' | translate}}</a>
          <hr>
          <a href="#"> {{'row5.11' | translate}}</a>
          <hr>
          <a href="#"> {{'row5.12' | translate}}</a>
          <hr>
          <a href="#"> {{'row5.13' | translate}}</a>
          <hr>
          <a href="#"> {{'row5.14' | translate}}</a>
        </div>
      </div>
    </div>
    <div class="d-flex ml-5">
      <div class="dropdown">
        <a class="dropbtn"> {{'row5.15' | translate}}</a>
        <div class="dropdown-content3">
          <a href="#"> {{'row5.16' | translate}}</a>
          <hr>
          <a href="#"> {{'row5.18' | translate}}</a>
          <hr>
          <a href="#"> {{'row5.19' | translate}}</a>
          <hr>
          <a href="#"> {{'row5.20' | translate}}</a>
          <hr>
          <a href="#"> {{'row5.21' | translate}}</a>
          <hr>
          <a href="#"> {{'row5.22' | translate}}</a>
        </div>
      </div>
    </div>
    <div class="d-flex ml-5">
      <div class="dropdown">
        <a class="dropbtn"> {{'row5.23' | translate}}</a>
        <div class="dropdown-content4">
          <a href="#"> {{'row5.24' | translate}}</a>
          <hr>
          <a href="#"> {{'row5.25' | translate}}</a>
          <hr>
          <a href="#"> {{'row5.26' | translate}}</a>
          <hr>
          <a href="#"> {{'row5.27' | translate}}</a>
        </div>
      </div>
    </div>
    <div class="d-flex ml-5">
      <div class="dropdown">
        <a class="dropbtn"> {{'row5.28' | translate}}</a>
        <div class="dropdown-content5">
          <a href="#"> {{'row5.29' | translate}}</a>
          <hr>
          <a href="#"> {{'row5.30' | translate}} </a>
          <hr>
          <a href="#"> {{'row5.31' | translate}}</a>
          <hr>
          <a href="#"> {{'row5.32' | translate}}</a>
          <hr>
          <a href="#"> {{'row5.33' | translate}}</a>
        </div>
      </div>
    </div>
    <div class="d-flex ml-5">
      <a>
        {{'row5.34' | translate}}
      </a>
    </div>

    <div *ngIf="!isLogged" class="d-flex ml-5 login">
      <a (click)="openModal()">
        {{'row5.35' | translate}}
      </a>
    </div>
    <div *ngIf="isLogged" class="nav-item dropdown d-flex ml-5">

      <a type="button" class="dropdown-toggle btn btn-outline-primary" placement="bottom" [ngbPopover]="popContent">

        {{userLogged?.name}}
      </a>
      <ng-template #popContent>
        <button type="button" class="list-item text-center ">Xem hồ sơ</button>
        <hr class="line">
        <button type="button" (click)="logOut()" class="list-item text-center">Đăng xuất</button>

      </ng-template>
    </div>
  </div>




</header>