<header>
  <div class="header1">
    <div class="d-flex logo">
      <img src="https://imagizer.imageshack.com/img922/8742/yUJOiK.png">
      <div class="text">
        <span>C0320G1</span>
        <div class="text2">C03 - Vacin VietNam</div>
      </div>
      <br>
      <div
        style="position: absolute;color: white;margin-top: 100px;float: bottom;margin-left: 50px;width: 200px;font-size: 12px;font-weight: bold">
        Giờ làm việc: 7h30 - 17h (thứ hai đến chủ nhật)
      </div>
    </div>
    <div>
      <div
        class="title d-flex">
        <div>
          <a href="#">Khảo sát <span> | </span></a>
        </div>
        <div class="ml-3">
          <a href="#">Tin tức <span> | </span></a>
        </div>
        <div class="ml-3">
          <a href="#">Tuyển dụng <span> | </span></a>
        </div>
        <div class="ml-2">
          <span class="letter ml-2">Hotline</span>
          <span id="hotLine" class="ml-1">: +84 0900 115</span>
        </div>
      </div>
      <div class="title2 d-flex">
        <div>
          <img src="https://imagizer.imageshack.com/img923/5140/y2ai9O.jpg">
          <a href="#">
            TRỰC TUYẾN
          </a>
        </div>
        <div class="ml-3">
          <a href="#">
            <img src="https://imagizer.imageshack.com/img923/4641/P2jT1P.png"
            >
            ĐĂNG KÍ TIÊM
          </a>
        </div>
        <div class="ml-3">
          <a href="#">
            <img src="https://imagizer.imageshack.com/img922/2260/SHTmWh.jpg">
            ĐẶT MUA VACIN
          </a>
        </div>
        <div class="ml-3">
          <a href="#">
            <img src="https://imagizer.imageshack.com/img923/2485/ID5hlR.png">
            VỊ TRÍ
          </a>
        </div>
      </div>
    </div>
    <div class="title3">
      Giấy chứng nhận ĐKKD số 0107631488 do sở Kế hoạch và Đầu tư TP. Hà Nội cấp ngày 11/11/2016
    </div>
  </div>

  <div id="content-wrapper">
    <div class="banner section section" id="banner">
      <div class="widget HTML" data-version="1" id="HTML2">
        <div class="widget-content">
          <marquee>
            Chào mừng bạn đến với vắt xin Việt Nam <a id="text1" href="#">C0320G1</a>
            Hãy để chúng tôi được chăm sóc bạn !!! Đăng kí tiêm vắc xin ngay<a class="letter"
                                                                               id="text2"
                                                                               href="#"
                                                                               target="_blank">
            Đăng ký</a>
          </marquee>
        </div>
        <div class="clear"></div>
        <div class="clear"></div>
      </div>
    </div>
  </div>

  <div class="header2 d-flex">
    <div class="col-md-1 button">
      <a href="#">
        Trang chủ
      </a>
    </div>
    <div class="col-md-1">
      <div class="dropdown">
        <a class="dropbtn">Giới thiệu</a>
        <div class="dropdown-content">
          <a href="#">Về công ty C0320G1</a>
          <hr>
          <a href="#">Về các loại vắc
            xin</a>
          <hr>
          <a href="#">Đội ngũ bác sĩ</a>
        </div>
      </div>
    </div>
    <div class="d-flex ml-3">
      <div class="dropdown">
        <a class="dropbtn">Tiêm cho người lớn</a>
        <div class="dropdown-content2">
          <a href="#">Vì sao người lớn
            cũng cần tiêm vắc xin</a>
          <hr>
          <a href="#">Lịch tiêm cho người
            lớn</a>
          <hr>
          <a href="#">Các loại vắc xin
            cho người lớn</a>
          <hr>
          <a href="#">Điều cần biết trước
            khi tiêm</a>
          <hr>
          <a href="#">Điều cần biết sau
            khi tiêm</a>
          <hr>
          <a href="#">Gói vắc xin cho
            người trưởng thành</a>
          <hr>
          <a href="#">Gói vắc xin cho phụ
            nữ mang thai</a>
          <hr>
          <a href="#">Gói vắc xin cho
            người già</a>
          <hr>
          <a href="#">Quy trình tiêm
            chủng</a>
        </div>
      </div>
    </div>
    <div class="d-flex ml-5">
      <div class="dropdown">
        <a class="dropbtn">Tiêm cho trẻ em</a>
        <div class="dropdown-content3">
          <a href="#">Lịch tiêm cho
            trẻ </a>
          <hr>
          <a href="#">Những điều cần biết
            trước khi tiêm </a>
          <hr>
          <a href="#">Những điều cần tiêm
            sau khi tiêm</a>
          <hr>
          <a href="#">Các loại vắc xin
            cho trẻ</a>
          <hr>
          <a href="#">Gói vắc xin cho
            trẻ</a>
          <hr>
          <a href="#">Quy trình tiêm
            chủng cho trẻ tại C03V</a>
          <hr>
          <a href="#">Bảng giá vắc xin
            cho trẻ </a>
          <hr>
          <a href="#">Đối tượng được miễn
            giảm hổ trợ </a>
        </div>
      </div>
    </div>
    <div class="d-flex ml-5">
      <div class="dropdown">
        <a class="dropbtn">Dịch vụ gói tiêm</a>
        <div class="dropdown-content4">
          <a href="#">Tiêm chủng trọn gói
            cho trẻ em</a>
          <hr>
          <a href="#">Tiểm chủng trọn gói
            cho người lớn</a>
          <hr>
          <a href="#">Tiêm chủng theo yêu
            cầu</a>
          <hr>
          <a href="#">Trả góp tiêm trọn
            góp 0%</a>
        </div>
      </div>
    </div>
    <div class="d-flex ml-5">
      <div class="dropdown">
        <a class="dropbtn">Cẩm nang tiêm chủng</a>
        <div class="dropdown-content5">
          <a href="#">Lịch tiêm
            chủng </a>
          <hr>
          <a href="#">Những điều cần biết
            trước khi tiêm </a>
          <hr>
          <a href="#">Những điều cần tiêm
            sau khi tiêm</a>
          <hr>
          <a href="#">Thông tin vắc
            xin</a>
          <hr>
          <a href="#">Danh mục vắc xin
            hiện có</a>
          <hr>
          <a href="#">Câu hỏi thường
            gặp</a>
        </div>
      </div>
    </div>
    <div class="d-flex ml-5 button">
      <a href="#">
        Bảng giá
      </a>
    </div>
    <div class="d-flex ml-4 button">
      <a href="#">
        Đăng nhập / Đăng ký
      </a>
    </div>
  </div>
</header>
