<div class="container m-0 mw-100 vh-100">
  <div class="text-center mt-4 mb-5">
    <h2>Danh sách Vắc xin </h2>
  </div>
  <div class="mt-5 ">
    <form  [formGroup]="searchForm">
      <div class=" d-flex justify-content-end col-sm-10 float-right">

        <input class="form-control mr-2" type="text" placeholder="Tên Vắc-xin" formControlName="name">
        <input class="form-control mr-2" type="text" placeholder="Loại Vắc-xin" formControlName="category">
        <input class="form-control mr-2" type="text" placeholder="Nước Sản Xuất" formControlName="country">
        <select class="form-control mr-2" style="height: 36px;" formControlName="conditions">
          <option [selected]=true disabled>Lựa chọn</option>
          <option>Còn Hàng</option>
          <option>Đã Hết</option>
        </select>
        <button class="btn btn-outline-info" style="border: 0;margin: 0">Tìm kiếm</button>
      </div>

    </form>
    <table class="table table-striped table-lg">
      <thead class="bg-info text-white ">
      <tr>
        <th class="pb-3">Mã nhân viên</th>
        <th class="pb-3">Tên Vắc-xin</th>
        <th class="pb-3">Loại Vắc-xin</th>
        <th class="pb-3">Nước Sản Xuất</th>
        <th class="pb-3">Độ Tuổi Tiêm Chủng</th>
        <th class="pb-3">Tình Trạng Vắc-xin</th>
        <th class="pb-3">Đăng Kí Tiêm</th>
      </tr>
      </thead>
      <tbody>
      <tr
        *ngFor="let vaccine of vaccines ">
        <td>{{vaccine.id}}</td>
        <td>{{vaccine.name}}</td>
        <td>{{vaccine.category}}</td>
        <td>{{vaccine.country}}</td>
        <td>{{vaccine.limitAge}}</td>
        <td>{{vaccine.conditions}}</td>
      </tr>

      </tbody>
    </table>
    <div class="mt-4 mb-4">


<!--      <div class="pagination float-right">-->
<!--        <pagination-controls (pageChange)="getPage($event)"></pagination-controls>-->
<!--      </div>-->
    </div>
  </div>
</div>
