
::ng-deep.mat-dialog-container {
  padding: 0px !important;
  overflow: hidden !important;
}

.form-control{
  width: auto !important;
}

.fa-edit:hover,
.fa-edit:active{
  color: #ebb20a !important;
}

.fa-trash-alt:hover,
.fa-trash-alt:active{
  color: #c41f30 !important;
}

