<div class=" p-0 ml-3 mr-3 mt-4">
    <div class="row">
        <div class="col-lg-6">
            <div class="row">
                <label class="col-sm-6 pr-0 "><strong>Tên vắc xin :</strong></label>
                <span class="col-sm-6 " >
                    Phòng bệnh lao
                </span>
            </div>
        </div>
        <div class="col-lg-6 ">
            <div class="row">
                <label  class="col-sm-6 pr-0 "><strong>Số lượng :</strong></label>
                <span class="col-sm-6 " >
                    500
                </span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <div class="row">
                <label  class="col-sm-6 pr-0 "><strong>Loại vắc xin : </strong></label>
                <span class="col-sm-6 " >
                    BCG
                </span>
            </div>
        </div>
        <div class="col-lg-6 ">
            <div class="row">
                <label  class="col-sm-6 pr-0 "><strong>Hạn sử dụng :</strong></label>
                <span class="col-sm-6 " >
                    1 năm
                </span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <div class="row">
                <label  class="col-sm-6 pr-0 "><strong>Ngày nhập :</strong></label>
                <span class="col-sm-6 " >
                    01/01/2015
                </span>
            </div>
        </div>
        <div class="col-lg-6 ">
            <div class="row">
                <label  class="col-sm-6 pr-0 "><strong>Điều kiện bảo quản :</strong></label>
                <span class="col-sm-6 " >
                    2-8 độ C
                </span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <div class="row">
                <label  class="col-sm-6 pr-0 "><strong>Số giấy phép :</strong></label>
                <span class="col-sm-6 " >
                    1
                </span>
            </div>
        </div>
        <div class="col-lg-6 ">
            <div class="row">
                <label  class="col-sm-6 pr-0 "><strong>Độ tuổi tiêm chủng :</strong></label>
                <span class="col-sm-6 " >
                    Trẻ em
                </span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <div class="row">
                <label  class="col-sm-6 pr-0 "><strong>Nước sản xuất :</strong></label>
                <span class="col-sm-6 " >
                    Việt Nam
                </span>
            </div>
        </div>
        <div class="col-lg-6 ">
            <div class="row">
                <label  class="col-sm-6 pr-0 "><strong>Hàm lượng cần xuất :</strong></label>
                <div class="col-sm-6">
                    <input type="number" name="soluong" class="form-control">
                </div>
            </div>
        </div>
    </div>
</div>