
<div class="container bootstrap snippets bootdeys">
  <div class="row">
    <div class="col-lg-12">
      <div class="box">
        <!--mail inbox start-->
        <div class="mail-box">
          <aside class="sm-side">
            <div class="user-head">
              <a href="javascript:;" class="inbox-avatar">
                <img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="" class="img-responsive">
              </a>
              <div class="user-name">
                <h5><a href="#">Anh Đức</a></h5>
                <span><a href="#">anhduc123@gmail.com</a></span>
              </div>
              <a href="javascript:;" class="mail-dropdown pull-right">
                <i class="fa fa-chevron-down"></i>
              </a>
            </div>
            <div class="inbox-body">
              <a class="btn btn-compose" data-toggle="modal" href="#myModalReply" data-original-title="" title="">
                Trả Lời
              </a>
              <!-- Modal -->
              <div class="modal fade" id="myModalReply" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                   aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                      <h4 class="modal-title">Phản Hồi</h4>
                    </div>
                    <div class="modal-body">
                      <form class="form-horizontal" role="form">
                        <div class="form-group">
                          <label class="col-lg-2 control-label">Gửi Đến</label>
                          <div class="col-lg-10">
                            <input type="text" class="form-control" id="inputEmail1" placeholder="">
                          </div>
                        </div>
                        <div class="form-group">
                          <label class="col-lg-2 control-label">Cc / Bcc</label>
                          <div class="col-lg-10">
                            <input type="text" class="form-control" id="cc" placeholder="">
                          </div>
                        </div>
                        <div class="form-group">
                          <label class="col-lg-2 control-label">Tiêu Đề</label>
                          <div class="col-lg-10">
                            <input type="text" class="form-control" id="inputPassword1" placeholder="">
                          </div>
                        </div>
                        <div class="form-group">
                          <label class="col-lg-2 control-label">Nội Dung</label>
                          <div class="col-lg-10">
                            <textarea name="" id="" class="form-control" cols="30" rows="10"></textarea>
                          </div>
                        </div>

                        <div class="form-group">
                          <div class="col-lg-offset-2 col-lg-10">
                                                    <span class="btn green fileinput-button" data-original-title=""
                                                          title="">
                                                      <i class="fa fa-plus fa fa-white"></i>
                                                      <span>Tập tin đính kèm</span>
                                                      <input type="file" multiple="" name="files[]">
                                                    </span>
                            <button type="submit" class="btn btn-send" data-original-title="" title="">Gửi</button>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
              </div><!-- /.modal -->
            </div>

            <ul class="inbox-nav inbox-divider">
              <li class="active">
                <a href="#"><i class="fa fa-inbox"></i> Hộp Thư Phản Hồi <span
                  class="label label-danger pull-right">2</span></a>
              </li>
              <li>
                <a href="#"><i class="fa fa-envelope-o"></i> Phản Hồi Trong Ngày</a>
              </li>
              <li>
                <a href="#"><i class=" fa fa-external-link"></i> Đã Hoàn Thành <span
                  class="label label-info pull-right">30</span></a>
              </li>
              <li>
                <a href="#"><i class=" fa fa-trash-o"></i> Đã Xóa</a>
              </li>
            </ul>
            <ul class="nav nav-pills nav-stacked labels-info inbox-divider">
              <li><h4>Trạng Thái</h4></li>
              <li><a href="#"> <i class=" fa fa-sign-blank text-danger"></i> Đang xử lí <span
                class="label label-warning pull-right">2</span> </a></li>
              <li><a href="#"> <i class=" fa fa-sign-blank text-info "></i> Đã hoàn thành trong ngày <span
                class="label label-success pull-right">30</span> </a>
              </li>
              <li><a href="#"> <i class=" fa fa-sign-blank text-warning "></i> Đã hoàn thành trong tuần <span
                class="label label-info pull-right">30</span> </a>
              </li>
              <li><a href="#"> <i class=" fa fa-sign-blank text-primary "></i> Đã hoàn thành trong tháng <span
                class="label label-info pull-right">30</span> </a>
              </li>
            </ul>
            <div class="inbox-body text-center">
              <div class="btn-group">
                <a href="javascript:;" class="btn mini btn-primary" data-original-title="" title="">
                  <i class="fa fa-plus"></i>
                </a>
              </div>
              <div class="btn-group">
                <a href="javascript:;" class="btn mini btn-success" data-original-title="" title="">
                  <i class="fa fa-phone"></i>
                </a>
              </div>
              <div class="btn-group">
                <a href="javascript:;" class="btn mini btn-info" data-original-title="" title="">
                  <i class="fa fa-cog"></i>
                </a>
              </div>
            </div>
          </aside>
          <aside class="lg-side">
            <div class="inbox-head">
              <h3>Hộp Thư Phản Hồi</h3>
              <form class="pull-right position" action="#">
                <div class="input-append">
                  <input type="text" placeholder="Tìm Kiếm" class="sr-input">
                  <button type="button" class="btn sr-btn" data-original-title="" title=""><i class="fa fa-search"></i>
                  </button>
                </div>
              </form>
            </div>
            <div class="inbox-body">
              <div class="mail-option">
                <div class="chk-all">
                  <input type="checkbox" class="mail-checkbox mail-group-checkbox">
                  <div class="btn-group">
                    <a class="btn mini all" href="#" data-toggle="dropdown" data-original-title="" title="">
                      All
                      <i class="fa fa-angle-down "></i>
                    </a>
                    <ul class="dropdown-menu">
                      <li><a href="#"> None</a></li>
                      <li><a href="#"> Chưa phản hồi</a></li>
                      <li><a href="#"> Đang phản hồi</a></li>
                    </ul>
                  </div>
                </div>
                <div class="btn-group">
                  <a class="btn mini tooltips" href="#" data-toggle="dropdown" data-placement="top"
                     data-original-title="Refresh">
                    <i class=" fa fa-refresh"></i>
                  </a>
                </div>
                <div class="btn-group hidden-phone">
                  <a class="btn mini blue" href="#" data-toggle="dropdown" data-original-title="" title="">
                    Thao tác
                    <i class="fa fa-angle-down "></i>
                  </a>
                  <ul class="dropdown-menu">
                    <li><a href="#"><i class="fa fa-pencil"></i> Hoàn Thành</a></li>
                    <li><a href="#"><i class="fa fa-ban"></i> Đang xử lí</a></li>
                    <li><a href="#"><i class="fa fa-trash-o"></i> Xóa</a></li>
                  </ul>
                </div>
                <div class="btn-group">
                  <a class="btn mini blue" href="#" data-toggle="dropdown" data-original-title="" title="">
                    Lọc
                    <i class="fa fa-angle-down "></i>
                  </a>
                  <ul class="dropdown-menu">
                    <li><a href="#">Tình trạng vắc xin</a></li>
                    <li><a href="#">Giá vắc xin</a></li>
                    <li><a href="#">Lịch sử tiêm</a></li>
                    <li><a href="#">Thông tin vắc xin</a></li>
                    <li><a href="#">Điều kiện trước tiêm</a></li>
                    <li><a href="#">Phản ứng sau tiêm</a></li>
                    <li><a href="#">Đặt lịch tiêm</a></li>
                    <li><a href="#">Thanh toán đặt trước</a></li>
                    <li><a href="#">Khiếu nại/ Thắc mắc</a></li>
                    <li><a href="#">Khác</a></li>
                  </ul>
                </div>
                <ul class="unstyled inbox-pagination">
                  <li><span>1-20 trong số 234</span></li>
                  <li>
                    <a href="#" class="np-btn"><i class="fa fa-angle-left  pagination-left"></i></a>
                  </li>
                  <li>
                    <a href="#" class="np-btn"><i class="fa fa-angle-right pagination-right"></i></a>
                  </li>
                </ul>
              </div>
              <table class="table table-inbox table-hover">
                <tbody>
                <tr *ngFor="let contact of contacts;let i=index" class="">

                  <td class="inbox-small-cells">
                    <input type="checkbox" class="mail-checkbox">
                  </td>
                  <td *ngIf="contact.status =='Chưa xử lí'" class="view-message"><span
                    class="label label-danger">{{contact.status}}</span></td>
                  <td *ngIf="contact.status =='Đang xử lí'" class="view-message"><span class="label label-warning">{{contact.status}}</span></td>
                  <td *ngIf="contact.status =='hoàn thành'" class="view-message"><span class="label label-success">{{contact.status}}</span></td>
                  <td class="view-message  dont-show">{{contact.fullName}}</td>
                  <td class="view-message ">
                    <a [routerLink]="['/admin/contact',contact.id]">{{contact.subject}}</a></td>
                  <td class="view-message  inbox-small-cells"><i class="fa fa-paperclip"></i></td>
                  <td class="view-message  text-right">{{contact.receivingTime|date:'medium'}}</td>
                </tr>
                </tbody>
              </table>
            </div>
          </aside>
        </div>
        <!--mail inbox end-->
      </div>
    </div>
  </div>
</div>
